{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method='post' class='add-entry'>
      <dl>
        <dt class='entry_title'>Title<span class='entry_error'></dt>
        <dd class='entry_title'><input type='text' size='30' name='title'></dd>

        <dt class='entry_text'>Text<span class='entry_error'></span></dt>
        <dd class='entry_text'><textarea name='text' rows='5' cols='40' placeholder="What's happening?"></textarea></dd>
        <dd><button type='submit'>Share it!</button></dd>
      </dl>
    </form>
  {% endif %}
  <h2>Recent Posts</h2>
  <ul class='entries'>
  {% for entry in entries %}
    <li class='entry' id='entry_{{ entry.id }}' data-timestamp='{{ entry.time }}'>
      <h3>{{ entry.title }}</h3>
      <span class='timestamp'>{{ entry.time }}</span><br>
      <div class='submitter'>by <span class='username'>{{ entry.submitter }}</span></div>
      {{ entry.text }}
    </li>
    <hr>
  {% else %}
    <li><em>*crickets*</em></li>
  {% endfor %}
  </ul>
{% endblock %}
